<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <% include ../views/header %>

 <style type="text/css">
        body {
    background: #DCDDDF url(https://img.clipartfest.com/b281a69c2502781ee23570f1ec86cde9_big-image-png-background-clipart-png_2400-1500.png);
    color: #000;
    font: 14px Arial;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.card {
            padding: 10px;
            padding-top: 20px;
            background: transparent;
            border-radius: 5px;
            text-align: center;
            margin: 10px 3% 1% 3%;
            height: 190px;
            width: calc(80% * (1/3));
            border: 2px solid teal;

        }

        .card .card-title {
            color: teal;
            font-size: 2em;
            font-weight: bold;
            border-color: teal;
            text-transform: capitalize;
        }

        .card .card-link {
            margin-top: 40px;
            font-size: 1.1em;
            font-weight: bold;
            width: 90%;
            border: 2px solid teal;
            color: teal;
            background: transparent;
            transition: background-color 0.5s ease;
        }

        .card .card-link:hover {
            color: #0000000;
            background: gray;
            transition: background-color 0.5s ease;
        }

</style>
</head>

<body>


    <div class="row">

     <div align="center">
        <h1><span class="fa fa-rocket"></span><%= user.name%>'s portfolio</h1>

    </div>

        <div class="row">
                <% for(var i=0; i< works.length; i++){%>
                    <div class="card col-xs-6">
                        <h4 class="card-title"> <%= works[i].title %></h4>

                        <a href="/view-work/<%=works[i]._id%>" class="btn btn-danger card-link">Preview</a>
                    </div>
                <% } %>
                </div>
        </div>

    </div>



</body>

</html>




